.square {
  width: 5rem;
  height: 5rem;
}

h3 {
  margin: 2rem;
  font-size: 2rem;
}

.about-title-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-bottom: 3rem;
  color: $primaryColor;
}

.hip-title {
  margin: 0;
  font-size: 3.2rem;
  font-family: $titleFont;
  margin: 0;
  font-weight: 200;
}

.about-text {
  margin: 2rem 2rem;
  font-size: 1.2rem;
  color: $primaryColor;
  & > p {
    margin: 0;
  }
}
