.circle-container {
  position: absolute;
}

.circle {
  position: absolute;
  z-index: 20;
  background-color: $primaryColor;
  border-radius: 16px;
  height: 2rem;
  width: 2rem;
  margin-left: 7rem;
}
