$primaryColor: rgb(232, 236, 238);
$secondaryColor: rgb(136, 136, 250);
$tertiaryColor: rgb(27, 34, 58);

$titleFont: oneday;
$fontText: roboto;
$titleSize: 3rem;

@mixin paragraphText {
  font-family: $fontText;
  color: $primaryColor;
  font-size: 1.2rem;
  margin: 1rem;
  white-space: pre-wrap;

  text-align: left;
}
