$primaryColor: rgb(232, 236, 238);
$secondaryColor: rgb(27, 34, 58);

$titleFont: oneday;
$fontText: roboto;
$titleSize: 3rem;
$gradient: linear-gradient(
  to right,
  $primaryColor,
  mix($primaryColor, $secondaryColor, 50%),
  $secondaryColor
);

@mixin paragraphText {
  font-family: $fontText;
  color: $primaryColor;
  font-size: 1.2rem;
  margin: 1rem;
  white-space: pre-wrap;
  line-height: 1.4rem;

  text-align: left;
}

@mixin buttonStyle {
  background-color: $secondaryColor;
  border: none;
  border-radius: 16px;
  padding: 0.6rem;
  margin: 0.2rem;

  font-weight: 600;
  font-size: 0.9rem;
  color: $primaryColor;

  user-select: none;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
