.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.title-container {
  margin-bottom: 5rem;
}
h1 {
  word-spacing: 1rem;
  letter-spacing: 5px;
  font-weight: 400;
  text-align: center;
  font-family: $titleFont;
  color: $primaryColor;
  font-size: $titleSize;

  margin: 0;
}
h2 {
  font-weight: 400;
  text-align: center;
  font-family: $titleFont;
  color: $primaryColor;
  font-size: calc(#{$titleSize / 1.5});

  margin: 0 3rem;
}

.developer-dot {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.developer {
  margin: 0;
  display: inline;
  margin-right: 0.5rem;
}
