.feature-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  overflow: hidden;

  background-color: rgba(27, 34, 58, 0.9);

  justify-content: center;
  align-items: center;
  flex-direction: column;

  pointer-events: none;
  & > p {
    text-align: center;
  }
}

.feature-video-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
