.projects-title {
  margin: 0;
  font-size: 3.2rem;
  font-family: $titleFont;
  margin: 0;
  font-weight: 200;
  color: $primaryColor;
  word-spacing: 1rem;
}

.projects-text {
  margin: 2rem 2rem;
  font-size: 1.2rem;
  color: $tertiaryColor;
  & > p {
    margin: 0;
  }
}
