.scroll-indicator-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 2rem;
}

.scroll-indicator {
  height: 4rem;
  width: 2rem;
  background-color: $primaryColor;
  border-radius: 16px;
}
