h5 {
  padding-top: 3rem;
  color: $primaryColor;
  margin: 0;
  font-size: calc(#{$titleSize});
  font-family: $titleFont;
  margin: 0;
  margin-left: 1rem;
  font-weight: 200;
  word-spacing: 100vw;
}

.solutions {
  height: 100vh;
}
