@import "config";
@import "landing";
@import "contact";
@import "circle";
@import "about";
@import "web";
@import "projects";
@import "responsive";
@import "solutions";
@import "loading";

@font-face {
  font-family: "monoton";
  src: url("../assets/fonts/monoton-regular-webfont.woff2") format("woff2"),
    url("../assets/fonts/monoton-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "orbitron";
  src: url("../assets/fonts/orbitron-variablefont_wght-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/orbitron-variablefont_wght-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url("../assets/fonts/roboto-medium-webfont.woff2") format("woff2"),
    url("../assets/fonts/roboto-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  width: 100%;
}

.landing {
  height: 100vh;
}

canvas {
  position: fixed;
  top: 0;
  z-index: -1;
}

p {
  color: $primaryColor;
}

b {
  color: red;
}
.about,
.projects {
  margin-bottom: 5rem;
}
