@import "config";
@import "landing";
@import "projects";
@import "responsive";

@font-face {
  font-family: "roboto";
  src: url("../assets/fonts/roboto-medium-webfont.woff2") format("woff2"),
    url("../assets/fonts/roboto-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "oneday";
  src: url("../assets/fonts/ONEDAY.woff2") format("woff2"),
    url("../assets/fonts/ONEDAY.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  width: 100%;
}

.landing {
  height: 100vh;
}

.glass {
  position: fixed;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
  // Blur effect
  background: hsla(226, 44%, 22%, 0.116);
  backdrop-filter: saturate(300%) blur(10vmax);

  z-index: -1;
}

canvas {
  position: fixed;
  top: 0;
  z-index: -2;
}
