@import "config";
@import "landing";
@import "scrollIndicator";
@import "contact";
@import "circle";
@import "about";
@import "web";
@import "projects";

@font-face {
  font-family: "scottiesregular";
  src: url("../assets/fonts/scotties-webfont.woff2") format("woff2"),
    url("../assets/fonts/scotties-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  width: 100%;
}
body {
}

section {
  height: 100vh;
}

canvas {
  position: fixed;
  top: 0;
  z-index: -1;
}
